<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			   type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   filter="rules"
			   component="com_contentstream"
			   section="component">
		</field>
	</fieldset>
	<fieldset name="options" label="COM_CONTENTSTREAM_OPTIONS" description="COM_CONTENTSTREAM_OPTIONS_DESC" >
	<field 
			name="docmanmenu" 
			type="menuitem"  
			label="COM_CONTENTSTREAM_OPTIONS_DOCMAN_MENU" 
			description="COM_CONTENTSTREAM_OPTIONS_DOCMAN_MENU_DESC" 
		>
			<option	value="">JSELECT</option>
		</field>	
	</fieldset>			
</config>

